*{
    background-color:black;
    margin:0;
    padding:0;
    box-sizing:content-box;
    font-family:sans-serif ;
    
    
}
section {
    width:100%;
  
    height:100vh;
    background-image:url(Qwanibooks.jpg);
    background-size: cover;
    background-position: center;
}
section  nav { 
    
    color:#089da1;
    width:100%;
    margin-bottom:150px;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #fff;
    position:fixed;
    left:0;
    z-index:100;
}
section  nav .logo img{
    width:80px;
    cursor:pointer;
    margin: 8px 0px;
    
    
}
section  nav ul{
    list-style:none;
}
section  nav ul li{
    display:inline-block;
    padding:0 10px;
    color:whitesmoke;
    
}
section  nav ul li a{
    padding:0 10px;
    color:#fff;
    text-decoration: none;
}

section  nav ul li a:hover{
    color:greenyellow;
}
section  .main{
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top:10%;
}
section  .main h1{
    position: relative;
    font-size:60px;
    top:80px;
    left: 25px;
    color:whitesmoke;
}
section .main h1 span{
    color:blue;
    font-size: 60PX;
}
section  .main p{
    width:650px;
    text-align:justify;
     line-height: 22px;
     position: relative;
     top:125px;
      left:25px;
      color:#fff;
}
section  .main .main_tag .main_btn{
    background:#089da1;
    padding: 10px 20px;
    position:relative;
    top:200px;
    left:25px;
    color:#fff;
    text-decoration: none;
}
section  .main .main_img img{
    width:500px;
    position: relative;
    top:90px;
    left:20px;
    color: #fff;
}
section nav .social_icon i{
    color:white;
}




/* services*/
.services{
    background-color: chocolate;
    width:100%;
    height:auto;
    margin:35px 0;
}
.services .services_box{
    width:95%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.services .services_box .service_card{
    text-align: center;
    width:310px;
    height:auto;
    box-shadow: 0 0 8px #089da1;
    padding:15px 10px;
}
.services .services_box .service_card i{
    color:#089da1;
    font-size: 45px;
    margin-bottom: 15px;
    cursor:pointer;
}

.services .services_box .service_card h3{
    margin-bottom: 10px;
    color:#fff;
}






/* About*/

.about{
   
    width:97%;
    height:auto;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-image: url();
}
.about .about_image img{
    width:470px;
}
.about .about_tag h1{
font-size: 60px;
position: relative;
bottom: 35px;
color:whitesmoke;
}
.about .about_tag p{
    line-height: 22px;
    width:650px;
    text-align: justify;
    margin-bottom:15px;
    color:#fff;
}
.about .about_tag .about_btn{
    padding:10px 20px;
    background:#089da1;
    color:#fff;
    text-decoration: none;
    position:relative;
    top:50px;
}


/*books*/

.Featured_books{
    background-color: chocolate;
    width:100%;
    height: 70vh;
    padding:70px 0;
}
.Featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color:whitesmoke;
}
.Featured_books .Featured_book_box{
     width:95%;
     height:65vh;
     margin: 0 auto;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     overflow:hidden;
     overflow-x: scroll;
}
.Featured_books .Featured_book_box .Featured_book_card{
    width:250px;
    height:400px;
    text-align: center;
    padding:5px;
    border:1px solid #919191;
    margin:auto 20px;
}
.Featured_books .Featured_book_box .Featured_book_car :hover{
    box-shadow: 0 0 5px #08a115;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_img img{
    width:150px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag h2{
    margin:12px;
    color:#fff;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .writer{
    color:#142899;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .catergories{
    color:#089da1;
    margin-top: 8px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    color:whitesmoke;
    margin-bottom: 15px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price sub{
    font-weight: 100;
    color:#089da1;
    padding: 0 5px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn{
    padding:8px 20px;
    border:2px solid #089da1;
    text-decoration: none;
    color:white;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn:hover{
    color:chocolate;
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px black;
}
::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}



/*books*/

.Featured_books{
    background-color: chocolate;
    width:100%;
    height: 70vh;
    padding:70px 0;
}
.Featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color:whitesmoke;
}
.Featured_books .Featured_book_box{
     width:95%;
     height:65vh;
     margin: 0 auto;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     overflow:hidden;
     overflow-x: scroll;
}
.Featured_books .Featured_book_box .Featured_book_card{
    width:250px;
    height:400px;
    text-align: center;
    padding:5px;
    border:1px solid #919191;
    margin:auto 20px;
}
.Featured_books .Featured_book_box .Featured_book_card:hover{
    box-shadow: 0 0 5px #089da1;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_img img{
    width:150px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag h2{
    margin:12px;
    color:#fff;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .writer{
    color:#142899;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .catergories{
    color:#089da1;
    margin-top: 8px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    color:whitesmoke;
    margin-bottom: 15px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price sub{
    font-weight: 100;
    color:#089da1;
    padding: 0 5px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn{
    padding:8px 20px;
    border:2px solid #089da1;
    text-decoration: none;
    color:white;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn:hover{
    color:red;
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px black;
}
::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}






/* Arrivals*/



.Arrivals{
    width:100%;
    height:70vh;
    margin-bottom: 35px;
}
.Arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    color: whitesmoke;
}
.Arrivals .Arrivals_box{
    width:95%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:25px 0;
    color:brown;
}
.Arrivals .Arrivals_box .Arrivals_card{
    width:250px;
    height:340px;
    text-align: center;
    padding:5px;
    border:1px solid #919191;
    margin: auto 20px;

}
.Arrivals .Arrivals_box .Arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrivals_image{
    width:150px;
    height:220px;
    margin:0 auto;
    cursor:pointer;
    box-shadow: 0 0 8px black;
    overflow: hidden;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrivals_image img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    transition:0.3s;
    
}
.Arrivals .Arrivals_box .Arrivals_card:hover .Arrivals_image img{
    transform:scale(1,1);
}
.Arrivals .Arrivals_box .Arrivals_card .Arrival_tag p{
font-family:sans-serif;
font-size: 20px;
margin:8px 0;
color: #fff;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrival_tag .Arrivals_icon{
    color:#089da1;
    margin-bottom: 18px;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrival_tag .Arrivals_btn{
    padding:8px 20px;
    border:2px solid #089da1;
    text-decoration: none;
    color:#a10843;
}



/* Members*/

.Members{
    width:97%;
    height:auto;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-image: url();
    
}

.Members .Members_image img{
    width:250px;
    height:auto;
}
 h1{
    text-align: center;
    font-size: 60px;
    position: relative;
    bottom: 35px;
    color:whitesmoke;
    
    }
    .Members .Members_tag h1{
        text-align: center;
        font-size: 30px;
        position: relative;
        bottom: 35px;
        color:chocolate;
    }
    .Members .Members_tag .writer{
        color: #089da1;
        font-size: 30px;
        font-weight: bold;
    }
    .Members .Members_tag .self{
        color:#fff;
        font-size:25px;
    }

 
/*--Contact--*/

section .container {
  
  width:97%;
  height:auto;
  padding:20px;
  display:block;
  align-items: center;
  justify-content: space-around;
  background-image: url(Qwanibooks.jpg);
  
  
}
.container p{
    color:#fff;
}
.container-box{
   
    display:flex;
}
.contact-left{
    flex-basis:60%;
    padding:40px 60px;
}
.contact-right{
    flex-basis:40%;
    padding:40px;
    
    color:#fff;
}
 h1{
    margin-bottom: 5px;
    margin-top: 10px;
    color:#fff;
}
.container p{
    margin-bottom:35px; 
    
}
.input-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width:100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline:none;
    padding-bottom: 5px;
    color:#fff;
    
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline:none;
    padding:10px;
    box-sizing: border-box;
    color:#fff;

}
label{
    margin-bottom: 6px;
    display:block;
    color:chocolate;
}
button{
    background:chocolate;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}
contact-left h3{

    font-weight: 600;
    margin-bottom: 30px;
}
contact-right  h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
table{
    color:#089da1;
}
h3{
    color:#fff;
}

/*--PopUp*/
.popup{
    width:400px;
    background:#fff;
    border-radius: 6px;
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%, -50%)scale(0.1);
    text-align: center;
    padding:0 30px 30px;
    color:#fff;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility:visible;
    top: 50%;
    transform:translate(-50%, -50%)scale(1);
}

.popup img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    color:#089da1;
}
.popup button{
    width:100%;
    margin-top: 50px;
    padding:10px 0;
    background: #6fd649;
    color:#fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}